<div class="ff user_<%= user.id %>">
    <%= image_tag(user.avatar.url, class: "following") %>
    <div>
        <a class="w-button follow_button" href="#">Follow</a>
        <div>
            <h4>The Verge</h4>
            <h6>@verge</h6>
            <div class="description">http://www.theverge.com&nbsp;&nbsp;covers the future of technology, science, art, and culture. Snapchat: therealverge</div>
        </div>
    </div>
</div>