<% unless user == current_user %>
  <% if current_user.following?(user) %> 
       <%= link_to unfollow_person_path(profile_name: user.profile_name), class: "w-inline-block follow_button2", method: :put, remote: true do %>
             <div class="follow_button_text">UnFollow</div>
       <% end %>
    <% else %>
         <%= link_to follow_person_path(profile_name: user.profile_name), class: "w-inline-block follow_button2", method: :put, remote: true do %>
         <div class="follow_button_text">Follow</div>
         <% end %>
  <% end %>
<% end %>